<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection" connectionString="Data Source=DESKTOP-BM7NF3L;Initial Catalog=hris;Integrated Security=True;Trust Server Certificate=True" />
        <add name="HRMngt.Properties.Settings.SqlConnection" connectionString="Data Source=localhost;Initial Catalog=HR;Integrated Security=True;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>